@{
  Layout = "_Layout";
}
<div class="jumbotron">
  <h2>Pierre's Vendors and Orders</h2>
</div>
<p>Welcome, pierre! Click on a link to get started.</p>
<ul>
  <li><a href="/vendors">Vendor list.</a></li>
  <li><a href="/vendors/new">Add a new vendor.</a></li>
  <li><a href="/vendors/search_by_vendor">Search by vendor</a></li>
</ul>